<div class="container-fluid w-100 d-flex justify-content-center align-items-center welcome-banner mb-3">
  <div class="d-flex overlay rounded">
    <h1 class="text-white">My Movies Database</h1>
  </div>
</div>
<div class="container-fluid d-flex justify-content-around align-items-center my-3">
  <% @lists.each do |list| %>
    <div class="d-flex flex-column col-sm-12 col-m-6 col-lg-3 rounded">
      <div class="position-relative d-flex justify-content-center align-items-center rounded action p-5">
          <%= link_to list, class: "d-flex justify-content-center align-items-center" do %>
            <h2 class="text-white"><%= list.name %></h2>
            <i class="fas fa-folder-open"></i>
          <% end %>
        <span class="mx-1 position-absolute options" >
          <%= link_to edit_list_path(list) do %>
            <i class="fas fa-edit"></i>
            <% end %>
          <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
